/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.msgSalvar{
	-fx-text-fill: blue;
	
}
.msgExcluir{
	-fx-text-fill:red;
-fx-text-alignment: CENTER;
	-fx-background-color: #333333;

	}